.NavigationItem {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.NavigationItem a {
	color: #8f5c2c;
	text-decoration: none;
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 100%;
	padding: 0 10px;
	line-height: 50px;
	font-size: 18px;
}

.NavigationItem a:hover, .NavigationItem a:active, .NavigationItem a.active {
	color: #40a4c8;
}